@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #766df4 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #766df4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

.images {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}
.images:hover {
  scale: 1.08;
}
